.header {
  grid-area: h;
  background: #3e8914;
  img {
    width: 60px;
    height: 60px;
  }
  .loginBlock {
    float: right;
    margin: 20px;
    a {
      color: #fff;
      text-decoration: none;
      font-family: sans-serif;
    }
  }
}
