.titleImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.headerProfile {
    background-color: #ee1b34;
    margin: 0;
    display: flex;
    img {
        padding-right: 20px;
    }
}

//status
.statusDesc {
    align-items: center;
    font-size: 21px;
    cursor: pointer;
    &:hover .doubleTap {
        transform: scale(1);
    }
}
.statusChange {
    input {
        font-size: 21px;
        background: inherit;
        &[type='text'] {
            outline: none;
            border: none;
            border-bottom: 3px solid #ee1b34;
            margin: 0;
            padding: 0;
        }
    }
}
.doubleTap {
    padding-left: 10px;
    transform: scale(0);
    width: 21px;
    height: 21px;
}
.mainPhoto {
    border-radius: 100%;
    width: 250px;
    height: 250px;
    margin: 10px;
}

.contact {
    padding-left: 10px;
}
