.app-wrapper {
  display: grid;
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  grid-template-areas:
    "h h"
    "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}

.header {
  grid-area: h;
  background: #3E8914;
}

.header img {
  width: 60px;
  height: 60px;
}

.nav {
  grid-area: n;
  background: #BAF2BB;

}

.content {
  grid-area: c;
  background: #3DA35D;
}