@import '/~normalize';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}
.app-wrapper {
    display: grid;
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
    grid-template-areas:
        'h h'
        'n c';
    grid-template-rows: 80px 1fr;
    grid-template-columns: 2fr 10fr;
}
.app-wrapper-content {
    grid-area: c;
    background: #edf2f4;
}
